[Desktop Entry]
Type=Application
Name[bg]=BigCommunity Добре дошли
Name[cs]=BigCommunity Vítejte
Name[da]=Velkommen fra BigCommunity
Name[de]=Willkommen von BigCommunity
Name[el]=BigCommunity Καλώς ορίσατε
Name[en]=BigCommunity Welcome
Name[es]=Bienvenida de BigCommunity
Name[et]=BigCommunity Tere tulemast
Name[fi]=BigCommunity Tervetuloa
Name[fr]=Bienvenue de BigCommunity
Name[he]=BigCommunity ברוכים הבאים
Name[hr]=BigCommunity Dobro došli
Name[hu]=BigCommunity Üdvözlő
Name[is]=BigCommunity Velkomin
Name[it]=Benvenuto di BigCommunity
Name[ja]=BigCommunity ようこそ
Name[ko]=BigCommunity 환영
Name[nl]=Welkom van BigCommunity
Name[no]=Velkommen fra BigCommunity
Name[pl]=BigCommunity Witamy
Name[pt]=Boas-vindas do BigCommunity
Name[pt_BR]=Boas-vindas do BigCommunity
Name[ro]=BigCommunity Bun venit
Name[ru]=BigCommunity Добро пожаловать
Name[sk]=BigCommunity Vitajte
Name[sv]=Välkommen från BigCommunity
Name[tr]=BigCommunity Hoş Geldiniz
Name[uk]=BigCommunity Вітаємо
Name[zh]=BigCommunity 欢迎
Name=BigCommunity Welcome
Exec=comm-welcome --autostart
TryExec=comm-welcome
Icon=org.bigcommunity.CommWelcome
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
